*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 500;
}

.container {
  position: relative;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  letter-spacing: 0.4rem;
  position: sticky; /* Test */
}

.nav__logo {
  font-size: 1.6rem;
}

.nav__logo span {
  font-weight: 700;
}

.nav__lists {
  display: flex;
  align-items: center;
}

.nav__list {
  list-style: none;
  font-size: 1.6rem;
  margin-left: 2rem;
}

.nav__link:link,
.nav__link:visited {
  text-decoration: none;
  color: #212529;
  cursor: pointer;
  transition: all 0.2s;
}

.nav__link:hover,
.nav__link:active {
  background-color: #adb5bd;
  padding: 1.5rem;
}

/* Header */
.header {
  height: 80vh;
  margin: 0 4rem;
  background-image: url(./images/architect.jpeg);
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.heading-1 {
  color: #fff;
  font-size: 3.6rem;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heading-1 span {
  font-weight: 600;
  padding: 1.1rem 1.8rem;
  background-color: #000;
  opacity: 0.75;
}

/* Project Section */
.projects {
  margin: 6rem 4rem;
}

.heading-2 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 1.8rem;
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.project-img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.project-img-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / 2;
}

.project-img-2 {
  grid-column: 3 / span 2;
  grid-row: 1 / 2;
}
.project-img-3 {
  grid-column: 5 / span 2;
  grid-row: 1 / 2;
}

.project-img-4 {
  grid-column: 7 / span 2;
  grid-row: 1 / 2;
}

.project-img-5 {
  grid-column: 1 / span 2;
  grid-row: 2 / 3;
}

.project-img-6 {
  grid-column: 3 / span 2;
  grid-row: 2 / 3;
}

.project-img-7 {
  grid-column: 5 / span 2;
  grid-row: 2 / 3;
}

.project-img-8 {
  grid-column: 7 / span 2;
  grid-row: 2 / 3;
}

.heading-3 {
  color: #fff;
  background-color: #000;
  padding: 1.2rem 1.5rem;
  justify-self: start;
  align-self: start;
  font-weight: 400;
  font-size: 1.5rem;
  z-index: 3;
}

.heading-3-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.heading-3-2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.heading-3-3 {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}

.heading-3-4 {
  grid-column: 7 / 8;
  grid-row: 1 / 2;
}

.heading-3-5 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.heading-3-6 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.heading-3-7 {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

.heading-3-8 {
  grid-column: 7 / 8;
  grid-row: 2 / 3;
}

/* About Section */
.about {
  margin: 6rem 4rem;
  display: grid;
  grid-template-rows: min-content max-content 1fr;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 4rem;
  column-gap: 1.6rem;
}

.heading-2-about {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  margin-bottom: -2rem;
}
.about-text {
  font-size: 1.4rem;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}

.artist-img {
  width: 100%;
  filter: grayscale(65%);
}

.heading-2-author {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.8rem;
  letter-spacing: 1;
}

.description {
  font-size: 1.3rem;
  font-weight: 400;
  color: #868e96;
  margin-bottom: 1.2rem;
}

.text {
  font-size: 1.5rem;
  letter-spacing: 1;
  margin-bottom: 1.2rem;
}

.btn-contact {
  border: none;
  border-radius: 0;
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-contact:hover {
  background-color: #868e96;
}

/* contact section */
.contact {
  margin: 6rem 4rem;
}

.input {
  display: block;
  width: 80%;
  height: 4rem;
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-family: inherit;
}

.input::placeholder {
  padding-left: 0.5rem;
}

.btn-send {
  border-radius: 0;
  border: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.5rem;
  margin-top: 2rem;
  background-color: #000;
}

.link:link,
.link:visited {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s;
  cursor: pointer;
}

.link:hover,
.link:active {
  background-color: #e9ecef;
  color: #212529;
  padding: 1.5rem 2rem;
}
.map {
  margin-top: 4rem;
  width: 100%;
  margin-bottom: -6rem;
}

/* Footer */
.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  height: 10vh;
  align-content: center;
}
